h1 {
   color: red;
}
h2 {
   color: greenyellow;
}
h3 {
   color: aqua;
}
h4 {
   color: blueviolet;
}
p {
   color: aquamarine;
   background-color: yellow;
   border: 2px solid black;
   background-size: auto;
}